.servicesHeader{
    text-align: center;
    margin: 5rem 0 1rem 0;
}
.services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:0 4rem ;
}

.servicesCatalog{
    display: grid;
    grid-template-columns: repeat(2,4fr);
    gap: 4px;
}
.servicesCatalog div{
    border:1px solid  #505ABC;
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
}
.servicesCatalog h1{
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: black;

}
.servicesCatalog p{
    font-size: 15px;
    color: rgba(70, 70, 70, 1);
}
.btn{
    display: flex;
    text-align: center;
    margin: 2rem auto;
    padding:0.7rem 1rem ;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    background: rgba(22, 74, 121, 1);
    cursor: pointer;
}
@media only screen and (max-width: 900px){
    .services{
        grid-template-columns: 1fr;
        margin: 1rem;
    }
   
    .servicesCatalog{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .servicesImage{
        display: none;
    }
    .servicesCatalog div{
        border:1px solid  #505ABC;
        text-align: left;
        padding: 2rem;
        border-radius: 1rem;
        margin:  1rem ;
    }
    .servicesCatalog h1{
        font-size: 20px;
    }
    .servicesCatalog p{
        font-size: 15px;
    }
} 
@media only screen and (max-width: 756px){
   
    
    .servicesCatalog h1{
        font-size: 20px;
    }
    .servicesCatalog p{
        font-size: 15px;
    }
} 
 @media only screen and (max-width: 600px){
 
    .servicesCatalog{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .servicesImage{
        display: none;
    }
    .servicesImage img{
        width: 350px;
    }
   
    .servicesCatalog h1{
        font-size: 15px;
    }
    .servicesCatalog p{
        font-size: 10px;
    }
} 
@media only screen and (max-width: 500px){
    .servicesCatalog div{
        border:1px solid  #505ABC;
        text-align: left;
        padding: 2rem;
        border-radius: 1rem;
        margin: 0 1rem 1rem 0;
    }
    .servicesCatalog h1{
        font-size: 15px;
    }
    .servicesCatalog p{
        font-size: 10px;
    }
} 
@media only screen and (max-width: 456px) {
    .servicesCatalog{
        display: block;
    }
    .servicesCatalog div{
        border:1px solid  #505ABC;
        text-align: left;
        /* padding: 2rem; */
        border-radius: 1rem;
        margin:  1rem ;
    }
    .servicesCatalog h1{
        font-size: 20px;
    }
    .servicesCatalog p{
        font-size: 15px;
    }
}